<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="VisionsInCode.Feature.AppDeeplink" description="AppDeeplink"
                     patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\feature\appdeeplink\serialization"
                           type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false"
                           singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="VisionsInCode.Feature.AppDeeplink.Templates" database="master"
                     path="/sitecore/templates/Feature/AppDeeplink" />

            <include name="VisionsInCode.Feature.AppDeeplink.Renderings" database="master"
                     path="/sitecore/layout/renderings/Feature/AppDeeplink" />

            <include name="VisionsInCode.Feature.AppDeeplink.System" database="master"
                      path="/sitecore/system/Settings/Rules/Definitions/Elements/Device/Poor Mans Device Detector" />

          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>