<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="VisionsInCode.Foundation.SitecoreCustomizations" description="SitecoreCustomizations"
                     patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\foundation\sitecorecustomizations\serialization"
                           type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false"
                           singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
         
            <include name="VisionsInCode.Foundation.SitecoreCustomizations.System" database="master"
                      path="/sitecore/system/Settings/Rules/Definitions/Elements/Device/Poor Mans Device Detector" />

          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>